@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo a @ViewData["Title"] da aplicação Dnd-Weapons</h1>
    <p>
		Está aplicação se trata de um controlador de um arsenal de um personagem. Nesta você poderá criar uma arma, 
        editar, deletar e listar armas do seu personagem
		<br />
		<br />
		Esta aplicação foi desenvolvida usando ASP.NET MVC e Entity Framework Core.
    </p>
    
</div>
