@model WeaponModel
@{
    ViewData["Title"] = "Adicionar Arma";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
</div>
<form asp-controller="Weapon" asp-action="CreateWeapon" method="post">
    <div class="form-group">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" asp-for="Name" class="form-control form-control-lg" id="Nome" placeholder="Faca de Arremesso" aria-label="Nome">
    </div>

    <div class="form-group">
        <label for="Tipo" class="form-label">Tipo da Arma</label>
        <select asp-for="Type" class="form-select" id="Tipo" aria-label="Tipo"> <!-- Opções de armas disponíveis -->
            <option selected>Tipos</option>
            <option value="Type1">Type1</option>
            <option value="Type2">Type2</option>
            <option value="Type3">Type3</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Preco" class="form-label">Preço (Po)</label>
        <input type="number" asp-for="Price" class="form-control" id="Preco" min="1" placeholder="20">
    </div>

    <div class="form-group">
        <label for="Descricao" class="form-label">Descrição</label>
        <textarea asp-for="Description" class="form-control" id="Descricao" rows="3" placeholder="Descrição vem aqui" style="resize: none"></textarea>
    </div>
    <br />
    <a asp-controller="Weapon" asp-action="Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>