@model WeaponModel
@{
    ViewData["Title"] = "Deletar Arma - Confirmação";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <h3>Deseja deletar a arma @Model.Name ?</h3>
    <br />
    <a asp-controller="Weapon" asp-action="Index" class="btn btn-secondary">Voltar</a>
    <a type="submit" asp-route-id="@Model.Id" asp-controller="Weapon" asp-action="DeleteWeaponById" class="btn btn-danger">Deletar</a>
</div>