@{
    ViewData["Title"] = "Deletar Arma - Confirmação";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <h3>Deseja deletar a arma ?</h3>
    <br />
    <a asp-controller="Weapon" asp-action="Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-danger">Deletar</button>
</div>