@{
    ViewData["Title"] = "Editar Arma";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
</div>
<form class="">
    <div class="form-group">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" class="form-control form-control-lg" id="Nome" placeholder="Faca de Arremesso" aria-label="Nome" readonly>
    </div>

    <div class="form-group">
        <label for="Tipo" class="form-label">Tipo da Arma</label>
        <select class="form-select" id="Tipo" aria-label="Tipo">
            <!-- Opções de armas disponíveis -->
            <option selected>Tipos</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Preco" class="form-label">Preço (Po)</label>
        <input type="number" class="form-control" id="Preco" min="1" placeholder="20">
    </div>

    <div class="form-group">
        <label for="Descricao" class="form-label">Descrição</label>
        <textarea class="form-control" id="Descricao" rows="3" placeholder="Descrição vem aqui" style="resize: none"></textarea>
    </div>
    <br />
    <a asp-controller="Weapon" asp-action="Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>