@{
    ViewData["Title"] = "Arsenal";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a asp-action="AddWeapon" role="button" class="btn btn-primary">Adicionar nova arma</a>
    </div>
	<br />
    <h1 class="display-4">@ViewData["Title"] do seu personagem</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome da Arma</th>
                <th scope="col">Tipo</th>
                <th scope="col">Preço</th>
                <th scope="col">Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>Descrição 1</td>
                <td>
                    <a asp-action="EditWeapon" role="button" class="btn btn-primary">Editar</a>
                    <a asp-action="DeleteWeapon" role="button" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>Descrição 1</td>
                <td>
                    <a asp-action="EditWeapon" role="button" class="btn btn-primary">Editar</a>
                    <a asp-action="DeleteWeapon" role="button" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>social</td>
                <td>Descrição 1</td>
                <td>
                    <a asp-action="EditWeapon" role="button" class="btn btn-primary">Editar</a>
                    <a asp-action="DeleteWeapon" role="button" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
